@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap');

@font-face {
font-family: "Osaka serif"; 
src: url("../fonts/osakasan.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	font-family: 'Josefin Sans', sans-serif!important;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 600;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.touhoulogo {
	display: inline-block;
}
.logo {
	width: 70px;
}
.but{
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 167px;
	padding: 18px 47px 14px;
	border-radius: 50px black;
	text-transform: uppercase;
	background: black;
	color: black;
	line-height: normal;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.but:hover{
	color: skyblue;
}
.but.line {
	background: transparent;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}
.shophame{
	margin: 0;
	font-family: "Osaka serif";
	display: flex;
	color: black;
	text-transform: uppercase;
	justify-content: normal;
	font-size: 35px;
}
.foshophame{
	margin: 0;
	font-family: "Osaka serif";
	display: flex;
	color: white;
	text-transform: uppercase;
	justify-content: normal;
	font-size: 35px;
}
.shophame:hover{
	color: red;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.nav-info .nav-item {
  margin-left: 25px;
  margin-right: 25px;
}
.nav-item:hover{
	opacity: 0.8;
	color: black;
}
.nav-item .nav-link{
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.nav-link:hover{
	color: black;
	opacity: 0.9;
}
@media (max-width: 993px) {
  .linetog {
    width: 18px;
    height: 18px;
  }
  nav{
  	display: none;
  }
}

.contact-tit{
	left: 55%;
}
.nav-list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

.nav-list-item {
  text-align: center;
  padding: 20px 0;
}

.nav .nav-item:hover>a {
	color: #f51167;
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.cart{
	width: 30px;
}
.account{
	width: 30px;
}
.logoff{
	width: 30px;
}
.main{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.headersection{
	background: white;

}

/*slider*/
.slidersection{
	border-top: 1px white;
	border-bottom: 1px white;
	width: 100%;
}

.sliderbg1{
	background: url(../images/background1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	color: #cfcfcf;
}
.slider .silder-item{
	position: relative;
	height: 700px;
}
.slider .silder-item h2{
	font-size: 90px;
	font-family: "Osaka serif";
	font-weight: 700;
	margin-bottom: 10px;
	position: relative;
	top: 50px;
}
.slider .silder-item p{
	font-size: 21px;
	font-weight: 300;
	margin-bottom: 38px;
	position: relative;
	top: 150px;
}
.slider .silder-item .but{
	position: relative;
	top: 200px;
	right: 1px;
}
.slider .silder-item .but:hover{
	background: white;
	color: black;
	opacity: 0.9;
}
.slider .silder-item .line{
	margin-right: 3px ;
}
/*dsection*/
.mdnotice{
	font-size: 21px;
}
#deliverysection{
	padding: 7% 0; 
	background: #f0f8ff;
}
#deliverysection h4 {
	font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}
#deliverysection .col-md-4{
	position: relative;
}
@media (min-width: 1200px){
	#deliverysection .container {
	width: 1100px;
	}
}
/*Categories*/
.categoriessection{
	padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../images/s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.categoriessection .section-title {
	text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.numofcat {
  float: left;
  width: 250px;
  margin-right: 3%;
  margin-top: 50px;
  margin: auto;
  text-align: center!important;
}

.categoriessection img {
  padding: 5px;
  float: left;
  width: 100%;
}

.titless {
	font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.picturecat{
	width: 210px;
	height: 320px;
	margin: 4px;
	margin-bottom: 20px;
	border: 5px solid white;
	object-fit: cover;
}
.popular-product {
	padding-top: 60px;
	padding-bottom: 60px;
}
.popular-product .section-title {
	margin-bottom: 70px;
}
.product-item .pi-pic {
	position: relative;
	display: inline-block;
	height: 324px;
	width: 216px;
}
.product-item .pi-text {
	padding-top: 22px;
	height: 87px;
	display: inline-block;
}
@media(max-width: 778px){
	.product-item{
		margin-bottom: 10px;
	}
	.product-item .pi-text{
		margin-left: 20px;
	}
	.categoriessection{
		background-size: 778px 800px;
	}
}


.product-item .pi-text p {
	font-size: 16px;
	color: #111111;
	margin-bottom: 0;
	margin: 0!important;
}
.products-picture{
	height: 324px;
	width: 216px;
	border-radius: 10px;
}
/*Foooter section*/
.footersection{
	background: #282828;
	padding-top: 20px;
}
.flogo{
	padding-bottom: 40px;
	text-align: center!important;
}
.infpart {
	margin-bottom: 30px;
	overflow: hidden;
}

.infpart h2 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 45px;
}

.infpart p {
	color: #8f8f8f;
}
.infpart.linkspart{
}
.infpart.linkspart p {
	margin-bottom: 25px;
	letter-spacing: -0.01em;
}
.infpart ul {
	list-style: none;
	float: left;
	margin-right: 37px;
}

.infpart ul:last-child {
	margin-right: 0;
}

.infpart ul li a {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	color: #8f8f8f;
	margin-bottom: 6px;
	text-decoration: none;
}

.infpart ul li a:after {
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	left: 0;
	top: 8px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.infpart ul li a:hover {
	color: #fff;
}

.infpart ul li a:hover:after {
	width: 7px;
	height: 7px;
	top: 6px;

}

/* Social Panel*/
.social{
	padding: 0;
	text-align: center;
}
.list-inline li {
	display: inline-block;
	padding-right: 11px;
	margin-bottom: 10px;
}
.social-icons .fa {
	font-size: 1.8em;
}
.social-icons .fa {
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #FFF;
	color: RGBA(143,143,143,0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons .fa-facebook:hover{
	color: #3b5998;
}
.social-icons .fa-instagram:hover{
	color: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
.social-icons .fa-twitter:hover{
	color: #00acee;
}
.social-icons .fa-vk:hover{
	color: #4C75A3;
}
.social-icons .fa-youtube-play:hover{
	color: #FF0000;
}
.animate1{
— moz-transition: all 1s ease;
— webkit-transition: all 1s ease;
— o-transition: all 1s ease;
transition: all 1s ease;
}

.animate1:hover{
— moz-transform: scale(1.5);
— webkit-transform: scale(1.5);
— o-transform: scale(1.5);
— ms-transform: scale(1.5);
transform: scale(1.5);
}
.price{
	float: inherit;
  overflow: hidden;
  font-weight: 700;
  color: black;
  padding-bottom: 30px;
}
@media (max-width: 500px) {
	.categoriessection{
		width: 500px;
	}
  .categoriessection .numofcat {
    width: 70%!important;
    margin-right: 0!important;
    margin-left: 10%!important;
  }
}



/*Category page manga*/
.mangabg1{
	background: url(../images/backgroundmanga.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	color: #cfcfcf;
}
.sweetsbg1{
	background: url(../images/sweetsbg1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	background-attachment: fixed;
	color: #cfcfcf;
}
.contactbg1{
	background: url(../images/contact.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	background-attachment: fixed;
	color: #cfcfcf;
}
.slider .manga-item{
	position: relative;
	height: 400px;
}
.slider .manga-item h2{
	font-size: 100px;
	font-family: "Osaka serif";
	font-weight: 700;
	margin-bottom: 10px;
	display: inline-block;
	width: 330px;
	position: relative;
	top: 140px;
}
.manga-tit{
	left: 65%;
	color: #fff;
}
.sweet-tit{
	left: 65%;
	color: black;
}
@media (max-width: 996px){
.slider .manga-item .manga-tit {
  left: 25%;
}
.slider .manga-item .contact-tit{
	left: 10%;
	color: black;
}
.slider .manga-item .sweet-tit{
	left: 15%;
}
}
/*category section*/
.categorysection{
	padding-top: 40px;
	padding-bottom: 70px;
}
.filtersection {
	margin-bottom: 0px;
}
.filtersection .filtername{
	font-size: 20px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.filter-menu{
	padding-bottom: 40px;
}
.filter-menu .filter-item{
	display: flex;
	position: relative;
	flex-wrap: wrap;
  
  align-content: space-between;
  flex-direction: column;
	margin-right: 14px;
}
.filter-menu .filter-item label{
	
	border-radius: 50px;
	position: relative;
	cursor: pointer;
}
.inputt{
	margin: 10px 0;
}
input[type=checkbox] {display: none;}

input[type=checkbox] + label:before {
    content: "\2714";
    color: transparent;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 900;
    line-height: 10px;
    margin: -5px 5px 0 0;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #f73149;
    border-color: #000;
}
select {
  background-color: white;
  border: thin solid #f73149;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  width: 200px;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.pagination {
  display: inline-block;
  position: relative;
  left: 29%;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #f73149;
  color: white;
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}
.row-name{
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
	border-bottom: 2px solid grey;
	padding-bottom: 10px;
}
/*Manga page*/
.mangasection{
	padding-top: 30px;
	padding-bottom: 65px;
}
.jojopicture{
	width: 60%;
}
.otherpict{
	margin-top: 30px;
}
.choosepict{
	width: 1200px;
}
.preview{
	width: 84px;
	height: 125px;
	float: left;
	margin-right: 31px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.preview:last-child {
	margin-right: 0;
}
.choosepict .preview:hover {
	border: 4px solid #f73149;
}

.inf-section .inf-title{
	font-size: 36px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.inf-section .inf-authors{
	font-size: 20px;
	font-weight: 500;
	color: #000;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.rating{
	line-height: 1.3em;
  font-size: 12px;
  display: table;
  margin-top: 20px;
  outline: none !important;
}
.rating .rating-layer{
	display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
  cursor: pointer;
  padding-top: 0;
}
.rating-layer .stars{
	display: inline;
}
.stars li{
	line-height: 1.4em;
	list-style: none;
	display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  background: url(../images/new_stars.png) no-repeat;
}
.stars li .rate{
	background-position: top;
}
.quantity{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 40px;
}
.quantity h2{
	float: left;
	margin-right: 15px;
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	color: #000;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-right: 100%;
}
.quantity .amount{
	width: 94px;
	height: 36px;
	border: 2px solid #f73149;
	padding: 0 15px;
	float: left;
}
.quantity .amount input{
	width: 30px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding-top: 1px;
	margin-left: 15px;
	font-size: 20px;
	text-align: center;
	background-color: transparent;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 70px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #f73149;
  background: white;
  box-shadow: 0 8px 15px #f73149;
  transition: .3s;
  margin-bottom: 30px;
}
.floating-button:hover {
  box-shadow: 0 15px 20px #f73149;
  color: #f73149;
  transform: translateY(-7px);
}
.inf-inf{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid grey;
}
.inf-inf-title{
	font-size: 32px;
	font-weight: 500;
	float: left;
	font-family: 'Poppins', sans-serif;
	color: #000;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 100%;
}
.inf-inf .mangainf p{
	color: #8f8f8f;
	margin-bottom: 25px;
	line-height: 1.8;
}

.address-section{
	padding-top: 80px;
	padding-bottom: 80px;
}
.infoaddd{
	padding: auto;
	text-align: center;
}
.infoaddd h3{
	font-size: 42px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	text-align: center;
}
